@font-face {
    font-family: 'Bree Reg';
    src: url('./fonts/Bree\ Regular.otf');
}

@font-face {
    font-family: 'VAG Rounded Bold';
    src: url('./fonts/Monotype\ \ -\ VAG\ Rounded\ Next\ Bold.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9f7f0;
}

.navbar {
    background: #8ac92c;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    font-family: 'VAG Rounded Bold', serif;
}

.logo a{
    text-decoration: none;
    color: white;
}

.hamburger {
    font-size: 50px;
    cursor: pointer;
}

.dropdown-menu {
    width: 200px;
    background: white;
    color: black;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    padding: 10px 0;
    font-size: 30px;
    font-family: 'VAG Rounded Bold', sans-serif;
    cursor: pointer;
    position: relative;
}

.dropdown-menu ul li a {
    color: black;
    text-decoration: none;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    padding-left: 15px;
    transition: max-height 0.3s ease;
}

.submenu.active {
    max-height: 200px;
}

.submenu li {
    font-size: 24px;
    padding: 8px 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.menu-arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu.active {
    max-height: 500px;
    padding: 20px 25px;
}

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.container h1{
    font-family: 'VAG Rounded Bold', serif;
    font-size: 65px;
    margin-bottom: 20px;
    color: #8ac92c;
}

.container p {
    font-family: 'VAG Rounded Bold', serif;
    color: #a78f72;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card{
    background: #8ac92c;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.card h1 {
    font-family: 'VAG Rounded Bold', serif;
    font-size: 45px;
    color: white;
}

.card p {
    font-family: 'VAG Rounded Bold', serif;
    font-size: 16px;
    color: #6f5637;
    line-height: 1.4;
    letter-spacing: 0.5px;
    letter-spacing: 1px;
}