@font-face {
    font-family: 'Bree Reg';
    src: url('./fonts/Bree\ Regular.otf');
}

@font-face {
    font-family: 'VAG Rounded Bold';
    src: url('./fonts/Monotype\ \ -\ VAG\ Rounded\ Next\ Bold.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9f7f0;
}

.navbar {
    background: #8ac92c;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    font-family: 'VAG Rounded Bold', serif;
}

.logo a {
    text-decoration: none;
    color: white;
}

.hamburger {
    font-size: 50px;
    cursor: pointer;
}

.dropdown-menu {
    width: 200px;
    background: white;
    color: black;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    padding: 10px 0;
    font-size: 30px;
    font-family: 'VAG Rounded Bold', sans-serif;
    cursor: pointer;
    position: relative;
}

.dropdown-menu ul li a {
    color: black;
    text-decoration: none;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    padding-left: 15px;
    transition: max-height 0.3s ease;
}

.submenu.active {
    max-height: 200px;
}

.submenu li {
    font-size: 24px;
    padding: 8px 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.menu-arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu.active {
    max-height: 500px;
    padding: 20px 25px;
}

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 40px 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.firstPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 50px;
}

.secondPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 50px;
    ;
}

.firstPart img {
    width: 420px;
    height: 500px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 20% center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.secondPart img {
    width: 420px;
    height: 500px;
    border-radius: 50px;
    object-fit: cover;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.rightText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
}

.rightText h1 {
    font-size: 60px;
    font-family: 'VAG Rounded Bold', serif;
    margin-bottom: 20px;
    color: #8ac92c;
}

.rightText p {
    font-size: 20px;
    font-family: 'VAG Rounded Bold', serif;
    color: #a78f72;
    line-height: 1.6;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.leftText {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
}

.leftText h1 {
    font-size: 60px;
    font-family: 'VAG Rounded Bold', serif;
    margin-bottom: 20px;
    color: #8ac92c;
}

.leftText p {
    font-size: 20px;
    font-family: 'VAG Rounded Bold', serif;
    color: #a78f72;
    line-height: 1.6;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.hero span {
    color: #784928;
}